# Compiled source #
###################
*.blb
*.gblorb
*.ulx
*.z5
*.z8
*.zblorb

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Multimedia #
##############
./src/resources/*
*.mp3
*.ogg
*.wav
